@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300&display=swap');

html, body {
	margin: 0; padding: 0;
	background: #111;
	color: #DDD;
	font: 16px 'Open Sans', sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

