<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
	{% block head %}
	<meta charset="utf-8" />
	<title>{% block title %}{{ SITENAME }}{%endblock%}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" type="text/css" rel="stylesheet" />
	  {% endblock head %}
</head>

<body>
	{% block header %}
		<header>
			<div class="container">
				<div class="row">
					<div class="col">
						<h1><a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
					</div>
				</div>
			</div>
		</header>
	{% endblock header %}

	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</div>

	{% block footer %}
		<footer>
			<div class="container">
				<div class="row">
					<div class="col">
						Site created by Bradan Beaver.
					</div>
				</div>
			</div>
		</footer>
	{% endblock footer %}
</body>

</html>